/*** Spinner Start ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/*** Button End ***/


/*** Topbar Start ***/
.top-changed{
    position: fixed;
    top: 0;
    z-index: 3;
    padding-bottom: 5px;

}
.topbar {
    position: relative; /* Ensure the topbar's z-index applies correctly */
    z-index: 10; /* Ensure the topbar is above other content */
    background-color: #333; /* Dark background for a professional look */
    width: 100%;
    top: 0;
    left: 0;
}

.topbar .top-info {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #f1f1f1; /* Light text for contrast */
}

.topbar .top-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}

.topbar .top-link a {
    margin-right: 10px;
}

.top-info {
    padding-left: 30px;
    gap: 15px; 
}

/*** Topbar End ***/


/*** Navbar Start ***/
.navbar.navbar-open{
    background-color: grey;
}
@media (max-width: 576px) {
    .navbar.navbar-open {
        background-color: grey;
    }
}
.nav-changed{
    margin-top: 20px;
    z-index: 5;
    position: fixed;
}
.navbar.scrolled {
    
    background: #333;
    
} 
.book-meeting{
    color: white;
    border-radius: 10px;
    }
.book-meeting:hover{
    color: #fb731c;
}
.navbar{
    background: transparent;
    position: absolute;
    z-index: 2;
    align-items: center;
      
    max-width: 100vw; 
    left: 0;
    right: 0;
 
    padding-left: 50px;
    padding-right: 15px;
    z-index: 2;
    box-sizing: border-box;
    margin-top: 15px;
}
.top-lgo img{
    width: 151px;
  }
  
.navbar .navbar-nav {
    padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
    padding: 10px;
    color: white;
    font-size: 18px;
    outline: none;
    
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "font awesome 5 free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;

}



@media (max-width: 991px) {
    
   
   
    .navbar-nav {
        flex-direction: column;
        gap: 20px; 
    }

    .navbar-collapse.show{
        BACKGROUND: #fff;
    align-items: center;
    border-radius: 20px;
    /* display: flex; */
    justify-content: space-between;
    flex-direction: column;
    }   
    .navbar-collapse.show .nav-link {
        color: black;
        font-size: 1.5rem;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
        transition: text-shadow 0.3s ease-in-out;
    }

    /* Make sure dropdown items glow as well */
    .navbar-collapse.show .dropdown-item {
        color: #000000;
        font-size: 1.5rem;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
        transition: text-shadow 0.3s ease-in-out;
    }

    /* Optional: Style the navbar toggler (close button) */
    .navbar-toggler {
     
        top: 20px;
        right: 20px;
        color: white;
        font-size: 1.5rem;
        border: none;
        background: transparent;
    }
}

/*** Navbar End ***/


/*** popup start ***/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 600px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    transform: translateY(-100%); /* Start from above the screen */
    transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.popup-content:hover {
    box-shadow: 0 0 20px 5px orange;
}

.popup-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}
.popup-text input[type="email"], 
.popup-text input[type="text"] {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}

.popup-text input[type="email"]:focus, 
.popup-text input[type="text"]:focus {
    border-bottom: 2px solid #f77f00; /* Change color on focus */
}

.benefits-list {
    list-style-type: disc; /* Use bullet points */
    padding-left: 20px; /* Space between bullet points and text */
    margin-top: 20px; /* Space above the list */
    margin-bottom: 20px; /* Space below the list */
}

.benefits-list li {
    margin-bottom: 10px; /* Space between bullet points */
    font-size: 16px; /* Adjust font size as needed */
    
}
.popup-text input[type="email"]::placeholder, 
.popup-text input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Fancy underline effect */
.popup-text input[type="email"], 
.popup-text input[type="text"] {
    position: relative;
}

.popup-text input[type="email"]:after, 
.popup-text input[type="text"]:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: #f77f00;
    transition: width 0.3s ease-in-out;
}

.popup-text input[type="email"]:focus:after, 
.popup-text input[type="text"]:focus:after {
    width: 100%; /* Underline extends fully on focus */
}

.popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.popup-text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fb731c;
}

.popup-text h1 {
    color: #fb731c;
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 25px;
}

.popup-text p {
    font-size: 1em;
    margin-bottom: 30px;
}




.subscribe-btn {
    text-align: center;
    background-color: #fb731c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.subscribe-btn:hover {
    background-color: rgb(168, 73, 0);
}

#closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background 0.3s ease-in-out;
}

#closePopup:hover {
    background: orange;
}

#closePopup i {
    font-size: 1.2em;
}

/* Popup Animation */
@keyframes dropIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.popup.show .popup-content {
    animation: dropIn 0.6s ease-in-out forwards;
}


/* Style for the popup container */
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Show popup when the 'show' class is added */
.popup.show {
    display: flex;
}

/* Media query to hide the popup on smaller screens */
@media (max-width: 768px) {
    .popup {
        display: none !important; /* Ensure it's hidden on smaller screens */
    }
}

/* Mobile popup styles */
.mobile-popup {
    display: none; /* Hide by default */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.mobile-popup-text {
    text-align: left;
   
    margin-bottom: 20px;
    margin-top: 20px;
}

.mobile-popup p {
    font-size: 1rem; /* Adjusted font size */
    margin: 0;
    color: white;
}

.mobile-subscribe-btn {
    background-color: #fb731c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

.mobile-close-btn {
    background: none;
    border: none;
    font-size: 1.2rem; /* Adjusted font size */
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1100; /* Ensure it's on top */
}

/* Hide mobile popup on larger screens */
@media (min-width: 769px) {
    .mobile-popup {
        display: none !important; /* Ensure it's not shown on larger screens */
    }
}



/*** popup End ***/


/*** Carousel Start ***/
@keyframes zoomInEffect {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.carousel-item:first-child img {
    animation: zoomInEffect 8s ease-in-out forwards;
   
    
}

.changed {
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: transform 8s ease-in-out; /* Smooth zoom effect */
    transform: scale(1);
    transform-origin: center center;
}

.carousel-item.active img {
    transition: transform 8s ease-in-out;
    transform: scale(1.1);
}

.carousel-item {
    transition: transform 1s ease-in-out; /* Smooth transition */
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.carousel-item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}

.carousel-content {
    padding-top: 80px;
}

.carousel-content h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-item p {
    max-width: 700px;
    margin: 0 auto 35px auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    background: transparent;
    opacity: 1;
    border-radius: 50px;
}

.carousel-control-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

.carousel-control-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

.carousel-control-next:hover {
    transition: .8s;
}

.carousel-caption .carousel-content a button.carousel-content-btn1,
.carousel-caption .carousel-content a button.carousel-content-btn2 {
    opacity: 1;
    border: 0;
    border-radius: 20px;
    transition: 1s;
}

.carousel-caption .carousel-content a button.carousel-content-btn1 {
    background: var(--bs-secondary);
    color: var(--bs-dark);
}

.carousel-caption .carousel-content a button.carousel-content-btn1:hover {
    background: var(--bs-primary);
    color: #ffffff;
}

.carousel-caption .carousel-content a button.carousel-content-btn2 {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.carousel-caption .carousel-content a button.carousel-content-btn2:hover {
    background: var(--bs-secondary);
    color: var(--bs-dark);
}

@media (max-width: 992px), (max-width: 768px) {
    .carousel-item,
    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }

    .carousel-item h1 {
        font-size: 28px !important;
    }

    .carousel-item p {
        font-size: 14px !important;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/carousel-1.jpeg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-white);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--bs-white);
}

/*** Carousel End ***/


/*** client start ***/
#clients-section {
    padding: 40px 0;
    background: #fff;
}

.clients-info {
    display: flex;
    align-items: center;
}

.clients-info .orange-line {
    width: 40px;
    height: 2px;
    background-color: #f97300;
    margin-right: 10px;
}

.clients-info h4 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.clients-logos {
    overflow: hidden; /* Hide overflow to ensure the scrolling appears seamless */
    position: relative;
    width: 100%;
}

.logo-wrapper {
    display: flex;
    flex-wrap: nowrap; /* Ensure logos stay in a single line */
    width: 200%; /* Adjust width to accommodate all logos */
    animation: scroll 30s linear infinite; /* Continuous scrolling effect */
}

.clients-logos img {
    max-width: 150px;
    margin: 0 20px;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    border-radius: 8px;
    filter: none;
    background-color: #fff;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250%); /* Move the full width of the container */
    }
}


/*** client end ***/


/*** Services Start ***/

.srv-container1 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}
.srv-container2 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}
.section-header {
	text-align: center;
	margin-top: 5%;
	color: #fff;
}
.section-header h2 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 45px;
	margin: 0;
}

.srv-box {
	position: relative;
	height: 350px;
	background: linear-gradient(45deg, #ffa36a, #ff6e14);
	box-sizing: border-box;
	padding: 30px;
	transition: .5s;
	overflow: hidden;
	margin: 20px;
	text-align: center;
	border-radius: 10px;
	transition: all 0.6s ease;
}

    .srv-box p {
        color: #fff;
        font-size: 16px;
        padding-bottom: 15px;
    }
	
.srv-box h3 {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}

.icons {
	width: 80px;
	height: 80px;
	background: #fff;
	margin: auto;
	border-radius: 50px;
}
.icons i {
	font-size: 35px;
	line-height: 80px;
}
.srv-box:before, .box:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	border: 5px solid #fff;
	opacity: 0;
	transition: .5s;
	box-sizing: border-box;
}
.srv-box:before {
	top: 0;
	left: 0;
	border-top-left-radius: 10px;
}
.srv-box:after {
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 10px;
}
.srv-box:hover:before, .box:hover:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition-delay: .3s;
}
.srv-box:hover {
	box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.srv-box span {
	position: absolute;
	top: 0;
	left: -110%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	transition: .5s;
	transform: skewX(10deg);
}
.srv-box:hover span {
	left: 110%;
}
.srv-box:hover {
	background-image: linear-gradient(45deg, #ff6e14, #ffa36a);
	box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px) {
	.srv-box {
		padding: 25px;
	}
}
@media (max-width: 600px) {
	.srv-box {
		height: 320px;
		margin: 0;
	}
	.srv-box h3 {
		font-size: 20px;
	}
}


/*** Services End ***/




/*** Team Start ***/
.team-profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
    
    font-family: 'Arial', sans-serif;
}

.profile-row {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.left {
    flex-direction: row; /* Image on left, text on right */
}

.right {
    flex-direction: row-reverse; /* Image on right, text on left */
}

.profile-row:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.profile-img img {
    width: 370px;
    
    object-fit: cover;
    transition: transform 0.3s;
}

.profile-img img:hover {
    transform: scale(1.05);
}

.profile-text {
    max-width: 500px;
}

.profile-text p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

.profile-text span {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
    color: #007BFF; /* Change text color for emphasis */
}

.team-set {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures items are vertically centered */
   margin-bottom: 50px;
}
/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .profile-row {
        gap: 1.5rem;
    }

    .profile-img img {
        width: 300px; /* Reduce image size on medium screens */
    }
}

@media (max-width: 768px) {
    .profile-row {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .left, .right {
        flex-direction: column; /* Stack image and text vertically */
    }

    .profile-img img {
        width: 100%;
        max-width: 450px; /* Ensure images don't stretch too much */
    }

    .profile-text {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .profile-row {
        padding: 1rem;
    }

    .profile-img img {
        width: 100%;
        max-width: 350px; /* Adjust for smaller screens */
    }

    .profile-text p {
        font-size: 0.9rem; /* Slightly smaller text on very small screens */
    }
}



.t-card img {
    height: 100%;
    width: 300px;
  
    transition: transform 0.4s ease, box-shadow 0.4s ease; 
}

.t-card img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
@media (max-width: 992px) {
    .t-card {
        flex: 1 1 45%; /* Two items per row on medium screens */
        margin: 0 15px; /* Adjust spacing between cards */
    }
}

@media (max-width: 768px) {
    .t-card {
        flex: 1 1 100%; /* Single item per row on small screens */
        margin: 0 20px; /* Adjust spacing between cards */
    }

    .team-set {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center items horizontally when stacked */
    }

    .t-card {
        margin-bottom: 20px; /* Space between stacked cards */
    }
}

@media (max-width: 576px) {
    .team-set {
        margin-bottom: 30px; /* Reduced margin on very small screens */
    }
}
/*** Team End ***/


/*** Testimonial Start ***/

/* Testimonial Item Styling */
.testimonial-item {
    background: #ffffff; /* Clean white background */
    border-radius: 15px; /* Rounded corners */
 
    padding: 40px; /* Generous padding */
    transition: background 0.5s, box-shadow 0.5s, transform 0.5s; /* Smooth transitions */
    margin: 0 20px; /* Space between items */
}

/* Hover Effect for Testimonial Items */
.testimonial-item:hover {
    background: #f9f9f9; /* Subtle background change on hover */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
    transform: translateY(-5px); /* Slight lift effect on hover */
    overflow: visible; /* Ensure overflow is visible on hover */
}
.testimonial-carousel{
    gap: 25px;
}
/* Testimonial Carousel Dots */
.testimonial-carousel .owl-dots {
    margin-top: 30px; /* Space above the dots */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Individual Dot Styling */
.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 10px; /* Space between dots */
    width: 12px; /* Default dot size */
    height: 12px;
    background: #e98441; /* Orange background for default state */
    border-radius: 50%; /* Round dots */
    transition: width 0.5s, background 0.5s, box-shadow 0.5s; /* Smooth transition */
    /* Light shadow for default state */
}

/* Active Dot Styling */
.testimonial-carousel .owl-dot.active {
    width: 24px; /* Larger size for active dot */
    background: #f7b731; /* Bright yellow for active dot */
    transform: scale(1.2); /* Slightly enlarge active dot */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow for active dot */
}

/* Centered Item Styling */
.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 2; /* Ensure centered item is on top */
}

/* Styling for Centered Item */
.testimonial-carousel .owl-item.center .testimonial-item {
    background: #ffffff; /* White background */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25); /* Enhanced shadow */
    transform: scale(1.1); /* Larger scale for centered item */
    transition: transform 0.5s, box-shadow 0.5s, background 0.5s; /* Smooth transitions */
}

/* Additional Hover Effect for Centered Item */
.testimonial-carousel .owl-item.center .testimonial-item:hover {
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
    transform: scale(1.15); /* Larger scale on hover */
    background: #f1f1f1; /* Subtle background change on hover */
}
/* Responsive Styles */
@media (max-width: 992px) {
    .testimonial-item {
        padding: 30px; /* Reduced padding for medium screens */
        margin: 0 15px; /* Reduced space between items */
    }

    .testimonial-carousel {
        gap: 20px; /* Reduced gap between items */
    }

    .testimonial-carousel .owl-dots {
        margin-top: 20px; /* Reduced space above dots */
    }
}

@media (max-width: 768px) {
    .testimonial-item {
        padding: 20px; /* Further reduced padding for small screens */
        margin: 0 10px; /* Further reduced space between items */
    }

    .testimonial-carousel {
        gap: 15px; /* Further reduced gap between items */
    }

    .testimonial-carousel .owl-dots {
        margin-top: 15px; /* Further reduced space above dots */
    }
}

@media (max-width: 576px) {
    .testimonial-item {
        padding: 15px; /* Minimal padding for very small screens */
        margin: 0 5px; /* Minimal space between items */
    }

    .testimonial-carousel {
        gap: 10px; /* Minimal gap between items */
    }

    .testimonial-carousel .owl-dots {
        margin-top: 10px; /* Minimal space above dots */
    }
}

/*** Testimonial End ***/


/*** Contact Start ***/
.contact .contact-add-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-light);
}

.contact .contact-add-item .contact-icon {
    width: 90px; 
    height: 90px; 
    border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-secondary);
    background: var(--bs-primary);
    animation-name: icon-animat;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

/*** Contact End ***/


/*** Footer Start ***/

.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover {
    letter-spacing: 1px;
}

.footer .hightech-link a:hover {
    background: var(--bs-secondary);
    border: 0;
}
.logo-bottom img { 
    width: 149px;
    
}
/*** Footer End ***/
/*** industry start  ***/

/* Header Section */
/* Header Section */
/* Initial opacity and translation for scroll animations */


.va-header {
    background-color: #f4f4f4;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Container for Text and Image */
.va-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    gap: 40px;
}

/* Text Section on Left */
.va-header-text {
    flex: 1;
}

.va-header h1 {
    font-size: 3em;
    color: #333;
}

.va-header p {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #666;
}




/* Subtext Styling Below Header */
.va-header-subtext {
    margin-top: 40px;
    font-size: small;
    color: #333;
}

.va-header-subtext p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 50;
    font-size: 1.3em;
}

.va-header-subtext i {
    color: #ff9350;
    margin-right: 10px;

 
}

.va-header-subtext p:hover {
    color: #ff9350;
    transition: color 0.3s ease;
}

.va-header-subtext p i:hover {
    color: #fb731c;
}

/* Image Section on Right */
.va-header-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.va-header-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Tablet and Medium Screens */
@media (max-width: 992px) {
    .va-header-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .va-header-text {
        text-align: center;
    }

    .va-header h1 {
        font-size: 2.5em;
    }

    .va-header p {
        font-size: 1.2em;
    }

    .va-header-subtext {
        font-size: 1.2em;
    }

    .va-header-subtext p {
        justify-content: center;
    }

    .va-header-image img {
        max-width: 80%;
    }
}

/* Mobile Screens */
@media (max-width: 768px) {
    .va-header-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .va-header h1 {
        font-size: 2em;
    }

    .va-header p {
        font-size: 1.1em;
    }

    .va-header-subtext {
        font-size: 1.1em;
    }

    .va-header-subtext p {
        justify-content: center;
    }

    .va-header-image img {
        max-width: 100%;
    }
}

/* Small Mobile Screens */
@media (max-width: 576px) {
    .va-header {
        padding: 40px 10px;
    }

    .va-header h1 {
        font-size: 1.8em;
    }

    .va-header p {
        font-size: 1em;
    }

    .va-btn-primary {
        font-size: 1em;
        padding: 10px 20px;
    }

    .va-header-subtext {
        font-size: 1em;
    }

    .va-header-image img {
        max-width: 100%;
    }
}
/* Why Choose Us Section */
.va-why-choose-us {
    text-align: center;
   padding-top: 35px;
    background-color: #fff;
}

.va-why-choose-us h2 {
    font-size: 2.5em;
    color: #fb731c;
    margin-bottom: 40px;
}

.va-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.va-benefit {
    flex: 1 1 250px;
    max-width: 250px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.va-benefit:hover {
    transform: translateY(-10px);
}

.va-benefit i {
    font-size: 3em;
    color: #fb731c;
    margin-bottom: 20px;
}

.va-benefit h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.va-benefit p {
    font-size: 1em;
    color: #666;
}


/* Refined Services Section */
.va-services {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

.va-services h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ff9350;
}

.va-services ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Aligns text left to keep consistency with typical service sections */
    max-width: 800px; /* Restrict the width to avoid spreading too wide on large screens */
    margin: 0 auto; /* Centers the content */
}

.va-services li {
    font-size: 1.2em;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start; /* Align items to the top, ensuring icons and text align properly */
    flex-direction: column; /* Stacks icons and text vertically */
}

.va-services li i {
    margin-bottom: 10px; /* Adjust the margin to space the icon above the text */
    font-size: 1.8em; /* Increase icon size slightly for emphasis */
    color: #ff9350; /* Matching the heading color for consistency */
}


/* Testimonials Section */
.va-testimonials {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.va-testimonials h2 {
    font-size: 2.5em;
    color: #fb731c;
    margin-bottom: 40px;
}

.va-testimonial {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.va-testimonial p {
    font-size: 1.2em;
    font-style: italic;
    color: #333;
}

.va-testimonial i {
    color: #ff9350;
    margin: 0 10px;
}

.va-testimonial span {
    display: block;
    margin-top: 20px;
    font-size: 1.1em;
    color: #666;
}

/* FAQ Section */
/* FAQ Section */
.va-faq {
    background-color: #f9f9f9;
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.va-faq h2 {
    font-size: 2.5em;
    text-align: center;
    color: #fb731c;
    margin-bottom: 40px;
    font-weight: bold;
}

.va-faq-item {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.va-faq-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.faq-question {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.faq-question i {
    font-size: 1.2em;
    color: #ff9350;
    transition: transform 0.3s ease;
}

.faq-answer {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 20px;
}

.va-faq-item.active .faq-answer {
    max-height: 150px; /* Adjust according to content */
    padding: 15px 20px;
}

.va-faq-item.active .faq-question i {
    transform: rotate(180deg);
}

/* Responsive Styling */
@media (max-width: 768px) {
    .va-faq {
        padding: 30px 15px;
    }

    .faq-question {
        font-size: 1.1em;
    }
}


/* Responsive Styling */
@media (max-width: 768px) {
    .va-benefits {
        flex-direction: column;
        align-items: center;
    }

    .va-benefit {
        max-width: 90%;
    }

    .va-services li::before {
        font-size: 1.2em;
    }

    .va-faq-item::before {
        font-size: 1.5em;
    }
}
/*** industry end  ***/

/*** demo start ***/

.calendly-inline-widget {
    width: 100%; /* Make sure the widget is responsive */
    height: 700px; /* Adjust height as needed */
}

/* Optional: Customize the heading (if any) */
.calendly-container h2 {
    font-size: 28px;
    color: #ff9350;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Set a clean font */
}

/* Optional: Customize any button in the container (if any) */
.calendly-container button {
    background-color: #ff9350;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.calendly-container button:hover {
    background-color: #fb731c; /* Hover effect for button */
}

/*** demo end  ***/

/*** help start  ***/
.whatsapp-chat {
    position: fixed;
    bottom: 20px;
   left: 20px;
    z-index: 100;
    
    
  }
  
  .whatsapp-chat img {
    height: 85px;    
    
   
   
  }
  
  .whatsapp-chat img:hover {
    transform: scale(1.1);
  }
  
  /* Tooltip text */
  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    font-size: 12px;
    z-index: 101;
    pointer-events: none;
  }
  
  /* Show tooltip on hover */
  .whatsapp-chat:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
.help h1{
    text-align: center;
}
/*** help end  ***/

/*** Pricing start  ***/
.pricing-txt{
    text-align: center;
}
.section-header-pricing h2{
    text-align: center
    
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    /* Change favorite color - Blue 210 - Purple 250 - Green 142 - Pink 340*/
    --hue-color: 210;
  
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 96%, 54%);
    --first-color-light: hsl(var(--hue-color), 96%, 69%);
    --first-color-alt: hsl(var(--hue-color), 96%, 37%);
    --first-color-lighter: hsl(var(--hue-color), 14%, 96%);
    --title-color: hsl(var(--hue-color), 12%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --container-color: #FFF;
  
    /*========== Font and typography ==========*/
    --body-font: 'Lato', sans-serif;
    --pricing-font: 'Rubik', sans-serif;
    --biggest-font-size: 1.75rem;
    --normal-font-size: .938rem;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 2.125rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
      --tiny-font-size: .688rem;
    }
  }
  
  /*==================== BASE ====================*/
  
  
  
  ul {
    list-style: none;
  }
  
  img {
    /* max-width: 100%; */
    height: auto;
  }
  
  /*==================== REUSABLE CSS CLASSES ====================*/

  
  .grid {
    display: grid;
  }
  
  /*==================== CARD PRICING ====================*/
  .card {
    padding: 3rem 0;
  }
  
  .card__container {
    gap: 3rem 1.25rem;
  }
  
  .card__content {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 2.5rem;
    border-radius: 1.75rem;
    box-shadow: 0 12px 24px hsla(var(--hue-color), 61%, 16%, 0.1);
    transition: .4s;
  }
  
  .card__content:hover {
    box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
  }
  
  .card__header-img {
    width: 30px;
    height: 30px;
  }
  
  .card__header-circle {
    width: 40px;
    height: 40px;
    background-color: var(--first-color-lighter);
    border-radius: 50%;
    margin-bottom: var(--mb-1);
    place-items: center;
  }
  
  .card__header-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-transform: uppercase;
    margin-bottom: var(--mb-0-25);
  }
  
  .card__header-title {
    font-size: var(--biggest-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
  }
  
  .card__pricing {
    position: absolute;
    background-image: linear-gradient(45deg, #ff6e14, #ffa36a);
    width: 60px;
    height: 88px;
    right: 1.5rem;
    top: -1rem;
    padding-top: 1.25rem;
    text-align: center;
  }
  
 
  
  .card__pricing-symbol {
    font-size: var(--smaller-font-size);
  }
  
 
  
  .card__pricing-month {
    display: block;
    font-size: var(--tiny-font-size);
  }
  
  .card__pricing-number, 
  .card__pricing-month {
    color: var(--white-color);
  }
  
  .card__pricing::after, 
  .card__pricing::before {
    content: '';
    position: absolute;
  }
  
  .card__pricing::after {
    width: 100%;
    height: 14px;
    background-color: var(--white-color);
    left: 0;
    bottom: 0;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }
  
  .card__pricing::before {
    width: 14px;
    height: 16px;
    background-image: linear-gradient(45deg, #ff6e14, #ffa36a);
    top: 0;
    left: -14px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }
  
  .card__list {
    row-gap: .5rem;
    margin-bottom: var(--mb-2);
  }
  
  .card__list-item {
    display: flex;
    align-items: center;
  }
  
  .card__list-icon {
    font-size: 1.5rem;
    color: #ff6e14;
    margin-right: var(--mb-0-5);
  }
  
  .card__button {
    text-align: center;
    padding: 1.25rem;
    border: none;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    background-image: linear-gradient(45deg, #ff6e14, #ffa36a);
    color: var(--white-color);
    cursor: pointer;
    transition: .4s;
  }
  .card__button:hover{
    color: #333;
  }
  
  /*==================== MEDIA QUERIES ====================*/
  /* For small devices */
  @media screen and (max-width: 320px) {
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
    .card__content {
      padding: 2rem 1.25rem;
      border-radius: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 568px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
    }
    .card__content {
      grid-template-rows: repeat(2, max-content);
    }
    .card__button {
      align-self: flex-end;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 968px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .card {
      height: 100vh;
      align-items: center;
    }
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__header-circle {
      margin-bottom: var(--mb-1-25);
    }
    .card__header-subtitle {
      font-size: var(--small-font-size);
    }
  }
  .section-header-pricing h1{
    margin-bottom: 20px;
    margin-top: 20px;
   text-align: center;
    
}
/***pricing end ***/
/***why us start ***/
/* Scroll Fade-in Animation */
/* Timeline Item (Slide in animation) */
.abt-timeline-item {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.abt-timeline-item.show {
    opacity: 1;
    transform: translateX(0);
}


header.why-workzen-header {
   
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
}

.why-workzen-header-container h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.why-workzen-header-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
}

.why-workzen-core-values, .why-workzen-why-us, .why-workzen-stunning-page,
.why-workzen-unique-story, .why-workzen-impactful-image, .why-workzen-emotional-language,
.why-workzen-audience-focus, .why-workzen-value-proposition, .why-workzen-mission,
.why-workzen-social-proof {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff9350; /* Soft Orange */
}

.why-workzen-value, .why-workzen-reason {
    margin-bottom: 30px;
    display: block;
    text-align: left;
    position: relative;
}

.why-workzen-value i, .why-workzen-reason i {
    font-size: 2.5em;
    color: #fb731c; /* Bright Orange */
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.why-workzen-value h3, .why-workzen-reason h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #002d72; /* Deep Blue */
}

.why-workzen-value p, .why-workzen-reason p {
    font-size: 1.1em;
    color: #555;
}

.why-workzen-contact {
    background: #ff9350; /* Soft Orange */
    color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
}

.why-workzen-contact-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.why-workzen-contact-info i {
    font-size: 1.5em;
    margin-right: 10px;
}

.why-workzen-footer {
    background: #fb731c; /* Bright Orange */
    color: #fff;
    text-align: center;
    padding: 20px;
}

.why-workzen-footer p {
    margin: 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff9350; /* Soft Orange */
}

.why-workzen-value, .why-workzen-reason,
.why-workzen-industry {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.why-workzen-value i, .why-workzen-reason i,
.why-workzen-industry i {
    font-size: 2.5em;
    color: #fb731c; /* Bright Orange */
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.why-workzen-value h3, .why-workzen-reason h3,
.why-workzen-industry h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #002d72; /* Deep Blue */
}

.why-workzen-value p, .why-workzen-reason p,
.why-workzen-industry p {
    font-size: 1.1em;
    color: #555;
}

.why-workzen-contact {
    background: #ff9350; /* Soft Orange */
    color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
}

.why-workzen-contact-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.why-workzen-contact-info i {
    font-size: 1.5em;
    margin-right: 10px;
}

.why-workzen-footer {
    background: #fb731c; /* Bright Orange */
    color: #fff;
    text-align: center;
    padding: 20px;
}

.why-workzen-footer p {
    margin: 0;
}

.why-workzen-web-devs {
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
}

.why-workzen-web-devs p {
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 1200px) {
    .why-workzen-header-container h1 {
        font-size: 2.5em;
    }

    .why-workzen-header-container p {
        font-size: 1.2em;
    }

    .why-workzen-core-values h2, .why-workzen-why-us h2 {
        font-size: 2em;
    }

    .why-workzen-value i, .why-workzen-reason i {
        font-size: 2em;
    }

    .why-workzen-value h3, .why-workzen-reason h3 {
        font-size: 1.5em;
    }

    .why-workzen-value p, .why-workzen-reason p {
        font-size: 1em;
    }

    .why-workzen-contact-info p {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .why-workzen-header-container h1 {
        font-size: 2em;
    }

    .why-workzen-header-container p {
        font-size: 1.1em;
    }

    .why-workzen-core-values h2, .why-workzen-why-us h2 {
        font-size: 1.8em;
    }

    .why-workzen-value i, .why-workzen-reason i {
        font-size: 1.8em;
    }

    .why-workzen-value h3, .why-workzen-reason h3 {
        font-size: 1.3em;
    }

    .why-workzen-value p, .why-workzen-reason p {
        font-size: 0.9em;
    }

    .why-workzen-contact-info p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .why-workzen-header-container h1 {
        font-size: 1.5em;
    }

    .why-workzen-header-container p {
        font-size: 1em;
    }

    .why-workzen-core-values h2, .why-workzen-why-us h2 {
        font-size: 1.5em;
    }

    .why-workzen-value i, .why-workzen-reason i {
        font-size: 1.6em;
    }

    .why-workzen-value h3, .why-workzen-reason h3 {
        font-size: 1.2em;
    }

    .why-workzen-value p, .why-workzen-reason p {
        font-size: 0.8em;
    }

    .why-workzen-contact-info p {
        font-size: 0.9em;
    }
}
/***why su end ***/
/***contact us ***/

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/***contact us ***/

/* abt us */

/* Timeline Section */
.abt-timeline-section {
    background: #fff;
    padding: 50px 0;
    position: relative;
}

.abt-timeline-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.abt-timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 40px;
    transition: all 0.5s ease;
}

.abt-timeline-item:hover {
    transform: translateY(-5px);
}

.abt-timeline-item h3 {
    font-size: 1.8em;
    color: #ff8000;
    margin-bottom: 10px;
}

.abt-timeline-item p {
    font-size: 1.2em;
    color: #666;
}
.abt-timeline-section{
    display: flex;
}
.abt-timeline-section img {
    height: 392px;
   
}

.abt-timeline-shape {
    width: 20px;
    height: 20px;
    background: #ff8000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
    transition: transform 0.4s ease;
}

.abt-timeline-item:hover .abt-timeline-shape {
    transform: scale(1.2);
}

.abt-timeline-item::before {
    content: "";
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    /* background: #ff8000; */
    top: 0;
}

.abt-timeline-item:last-child::before {
    height: 50%;
}
.steps{
    color: #666;
}
.steps:hover{
    color: #666;
}
/* Responsive Timeline */
@media (max-width: 768px) {
    .abt-timeline-item {
        padding-left: 20px;
    }

    .abt-timeline-item h3 {
        font-size: 1.5em;
    }

    .abt-timeline-item p {
        font-size: 1em;
    }

    .abt-timeline-shape {
        width: 15px;
        height: 15px;
    }
}


/* abt us */